:root {
    --success-color: limegreen;
    --error-color: orangered;
}

body {
    background-color: rgb(176, 160, 158);
    box-sizing: border-box;
}


.form {
    background-color: white;
    box-shadow: 0 0 10px lightgrey;
    max-width: 40%;
    min-height: 70vh;
    margin-left: 350px;
    margin-top: 70px;
    border-radius: 4px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.form-control {
    margin-left: 30px;
    margin-bottom: 25px;
    position: relative;
}

.form-control label {
    display: block;
    margin-bottom: 10px;
}
.form-control input {
    display: block;
    width: 80%;
    
}

.form-control input:focus {
    outline: 0;
    border-color: gray;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;

}

.form-control.error small {
    visibility: visible;
}

.button {
    width: 80%;
    padding: 8px;
    border: 4px solid blue;
    border-radius: 5px;
}